body {
  background-color: #FFFFFF;
}


.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
}

.header {
  text-align: center;
  font-size: 72px;
  font-weight: 600;
  color: #000000;
}

.bio {
  text-align: center;
  color: #000000;
  margin-top: 16px;
  line-height: 2em;
}

.message {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-textarea {
  width: 350px;
  height: 150px;
  padding: 1em;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  width: 350px;
}

.connectWallet {
  display: flex;
  justify-content: center;
}

.waves {
  background-color: #FFFFFF; 
  margin-top: 16px;
  padding: 8px;
  display: flex;
  align-items: flex-start;
  border: 2px solid black
}

.wave-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

.wave-details-headers {
  font-weight: bold;
  margin-bottom: 10px;
}

.wave-details-content {
  font-size: 12px;
  text-align: justify;
  padding-left: 10px
}

.address {
  width: 20%;
  overflow: scroll;
}

.time {
  width: 60%
}

.waveMessages {
  width: 20%
}